[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
flask = "*"
flask-sqlalchemy = "*"
langchain-pinecone = "*"
langchain-openai = "*"
langchain = "*"
python-dotenv = "*"
invoke = "*"
celery = "*"
install = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.11"
